body {
 background-image: linear-gradient(#08000076, #0901019e),url(../imgaes/bg.png);
 height: 1000px;
 backdrop-filter: brightness(2);
 background-repeat: no-repeat;
 color: #0b0b0b;
}

header {
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
}

#btn {
  height: 30px;
  width: 100px;
  background-color: transparent;
  border-radius: 5px;
  border: solid #0a0a0a 1px;
}

#btn img {
  height: 25px;
  padding-top: 1px;
}

#dark {
  display: none;
}

#light{
  margin-left: -60px;
}

.top {
  display: flex;
  justify-content: center;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

#top1 {
  background-color: cadetblue;
  width: 40%;
  height: 300px;
  text-align: center;
  margin-top: 20%;
}